@import url("https://use.typekit.net/oov2wcw.css");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: DM Sans, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --font-century-gothic: var(--century-gothic);
  --font-jost: var(--jost);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Source Serif 4, serif;
  --radius: 0.55rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2686 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2686 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2686 0 0);
  --primary: oklch(0.2307 0.1598 264.0520);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.9291 0.0188 286.0274);
  --secondary-foreground: oklch(0.2307 0.1598 264.0520);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9586 0.0096 273.3555);
  --accent-foreground: oklch(0.2307 0.1598 264.0520);
  --destructive: oklch(0.4815 0.1976 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9248 0.0135 286.1337);
  --input: oklch(0.9248 0.0135 286.1337);
  --ring: oklch(0.2307 0.1598 264.0520);
  --chart-1: oklch(0.6305 0.2052 282.5702);
  --chart-2: oklch(0.5300 0.1861 316.9496);
  --chart-3: oklch(0.6968 0.2112 308.7026);
  --chart-4: oklch(0.8843 0.0471 270.8370);
  --chart-5: oklch(0.8072 0.1096 19.7387);
  --sidebar: oklch(0.2307 0.1598 264.0520);
  --sidebar-foreground: oklch(0.9454 0.0107 286.1934);
  --sidebar-primary: oklch(0.9851 0 0);
  --sidebar-primary-foreground: oklch(0.2307 0.1598 264.0520);
  --sidebar-accent: oklch(0.2162 0.1498 264.0520);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.9248 0.0135 286.1337);
  --sidebar-ring: oklch(0.9248 0.0135 286.1337);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --century-gothic: "century-gothic", sans-serif;
  --jost: "Jost", sans-serif;
  --radius: 0.55rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -7.5px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 1px 2px -8.5px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 1px 2px -8.5px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 2px 4px -8.5px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 4px 6px -8.5px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 8px 10px -8.5px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.1273 0.0287 271.6382);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.1702 0.0337 274.2369);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.1702 0.0337 274.2369);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.5927 0.2176 277.4517);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2062 0.0478 274.3126);
  --secondary-foreground: oklch(0.9346 0.0051 228.8213);
  --muted: oklch(0.2212 0.0548 273.4802);
  --muted-foreground: oklch(0.6403 0.0436 278.9195);
  --accent: oklch(0.2212 0.0548 273.4802);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.4815 0.1976 29.2339);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2607 0.0542 277.4668);
  --input: oklch(0.2607 0.0542 277.4668);
  --ring: oklch(0.4788 0.1078 281.5393);
  --chart-1: oklch(0.6305 0.2052 282.5702);
  --chart-2: oklch(0.5300 0.1861 316.9496);
  --chart-3: oklch(0.6968 0.2112 308.7026);
  --chart-4: oklch(0.8843 0.0471 270.8370);
  --chart-5: oklch(0.8072 0.1096 19.7387);
  --sidebar: oklch(0.1702 0.0337 274.2369);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.5927 0.2176 277.4517);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2553 0.0677 273.5384);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.2607 0.0542 277.4668);
  --sidebar-ring: oklch(0.4788 0.1078 281.5393);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --century-gothic: "century-gothic", sans-serif;
  --jost: "Jost", sans-serif;
  --radius: 0.55rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -7.5px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 1px 2px -8.5px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 1px 2px -8.5px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 2px 4px -8.5px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 4px 6px -8.5px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.10), 0px 8px 10px -8.5px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 10px -7.5px hsl(0 0% 0% / 0.25);
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-jost antialiased;
    letter-spacing: var(--tracking-normal);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-century-gothic font-bold;
  }
}

/* Remove default auto-fill color */
.input-autofill:-webkit-autofill {
  background-color: none !important;
  color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  border-radius: 8px;
}